Source: python3-random-quote
Maintainer: msaali ali <msaali761@gmail.com>
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.6

Package: python3-random-quote
Architecture: any
Description: Get a random quote with Python.
